/* HTML: <div class="loader"></div> */
.loader {
    width: 35px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;

    /* Поправен gradient за маска */
    --_m:
            conic-gradient(#0000 10%, #000),
            linear-gradient(#000, #000);

    -webkit-mask: var(--_m);
    -webkit-mask-clip: content-box;
    -webkit-mask-composite: destination-out;

    mask: var(--_m);
    mask-clip: content-box;
    mask-composite: subtract;

    animation: l3 1s infinite linear;
}

@keyframes l3 {
    to {
        transform: rotate(1turn);
    }
}
